.animated-div {
  .animation-enter {
    opacity: 0.01;
  }

  .animation-enter.animation-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }

  .animation-leave {
    opacity: 1;
  }

  .animation-leave.animation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
  }

  .animation-appear {
    opacity: 0.01;
  }

  .animation-appear.animation-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }
}